body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

p {
    margin: 0;
}

input, select {
    background-color: #F7EEDD;
}

#project-bar {
    background-color: #66b2b2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
}

#project-bar > div {
    display: flex;
    justify-content: center;
}



#selected-project-div {
    border: 1px solid red;
    background-color: rgba(249,113,113, 0.5);
}

.project-item {
    min-height: 40px;
}

#project-list {
    list-style-type: none;
    font-size: 1.5em;
    padding: 0;
}

#project-list > li {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
}

#project-list > li > img {
    height: 30px;
    width: 30px;
    justify-self: end;
}

#add-project-li {
    display: flex;
    align-items: center;
}

#add-project-li > * {
    display: flex;
    margin: 0px;
}


#add-project-pop-up {
    width: 250px;
    height: 200px;
    background-color: #f0e7e1;
    position: absolute;
    display: grid;
    justify-content: center;
}

#content-area {
    grid-column: 2 / 5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff0db;
}

#todo-list-container {
    
    width: 450px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

.todo-item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    min-height: 70px;
    border-top: solid black 2px;
    
    background-color: #f99192;
}

.todo-item:hover, .add-new-todo-div-small:hover {
    background-color: #f66162;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border: solid black 3px;
}

.add-new-todo-div-small {
    display: flex;
    align-items: center;
    padding-left: 10%;
    min-height: 80px;
    border-top: 2px solid black;
    background-color: #f99192;
}

.add-new-todo-input {
    min-height: 70px;
    border-top: solid black 2px;
    background-color: #f99192;
    padding-left: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.add-new-todo-input:hover {
    background-color: #f66162;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border: solid black 3px;
}

.left-div-add :first-child {
    width: 50%;
}

.left-div-add :nth-child(2) {
    width: 85%;
}

.right-div-add {
    display: grid;
    justify-items: center;
}

.right-div-add > button {
    width: 60px;
    border-radius: 10px;

}


/* .todo-item:hover {

} */

.check-box-div {
    position: relative;
}

.check-box-icon {
    margin-left: 2%;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}

.xMark-icon {
    margin-left: 2%;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}

.top-div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 3%;
}

.name-h3 {
    margin: 0;
    font-size: 1.3em;
}

.bottom-left-div {
    padding-bottom: 2%;
}


.bottom-div-edit {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.bottom-right-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.icon-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    margin-right: 30%;
}


.icon-div > img {
    
    height: 35px;
    width: 35px;
    
}

.description-para {
    margin-top: 2%;
}






.add-new-todo-div-small > img {
    height: 35px;
    width: 35px;
}

.bottom-div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.bottom-left-div > input {
    width: 90%;
}

.confirm-div {
    width: 250px;
    height: 200px;
    background-color: #f0e7e1;
    position: absolute;
    display: grid;
    justify-content: center;
}

.confirm-div > p {
    font-size: 1.2em;
    
}

.expand-todo {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 2.5fr 1fr;
    position: absolute;
    background-color: #f0e7e1;
    border: 2px solid black;
}

.top-div-expand {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    margin: 2% 2% 3% 0;
}

.left-div-expand {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 3%;
    padding-right: 5%;
}

.left-div-expand > :first-child {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 3%;
}

.edit {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


.edit * {
    height: 20px;
}

.edit > :first-child {
    max-width: 40%;
}

.edit > :nth-child(2) {
    max-width: 70%;
}

.edit > button {
    max-width: 30%;
}

.right-div-expand {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 10%;
}

.right-div-expand > :first-child {
    margin-bottom: 5%;
}


.expand-todo > div > img {
    height: 35px;
    width: 35px;
}


