body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

#project-bar {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
}

#content-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-list-container {
    
    width: 430px;
    border: 2px solid black;
    background-color: lightsalmon;
}

.todo-item {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.todo-item > img {
    height: 35px;
    width: 35px;
    align-self: center;
}

.todo-item > div > img {
    height: 35px;
    width: 35px;
}

.confirm-div {
    width: 250px;
    height: 200px;
    background-color: #f0e7e1;
    position: absolute;
}

